.github-api{
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    padding: 0 10px;
    display: grid;
    button{
        margin: 1rem;
    }
    ul{
        justify-items: center;
        padding: 0 10px;
        display: grid;
        padding: 0;
    }
}